<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- <img
    width="40"
    alt="Angular Logo"
    src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.neofis.fr%2Fsingle-post%2F2020%2F03%2F19%2FCOVID-19-Carte-didentit%25C3%25A9-et-recommandations&psig=AOvVaw3wCoUk36pX7VgKiojMJLtW&ust=1600961016204000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDk2drK_-sCFQAAAAAdAAAAABAD"
  /> -->
  <span class="app-title">Covid19 - Statut</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <!-- Highlight Card -->

  <form class="departement-form">
    <mat-form-field class="departement-name" appearance="outline">
      <input
        type="text"
        placeholder="Departement"
        aria-label="Number"
        name="departement"
        matInput
        [formControl]="departementFormControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of departements$ | async"
          [value]="option.NOM"
          (click)="selectDepartement(option)"
        >
          {{ option.NOM }} <span class="zipcode">{{ option.NUMERO }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <ng-container
    *ngIf="franceLiveGlobalLiveData$ | async as franceLiveGlobalLiveData"
  >
    <app-date
      *ngIf="departementFormControl.value"
      [date]="franceLiveGlobalLiveData.date"
      (changeDate)="selectDate($event)"
    ></app-date>
    <span
      class="simple-date"
      *ngIf="
        !departementFormControl.value || departementFormControl.value == ''
      "
    >
      France | {{ franceLiveGlobalLiveData.date | date: "dd/MM/yyyy" }}</span
    >
    <div class="list">
      <mat-card class="item">
        <span class="label">Cas Confirmés</span>
        <br />
        <span class="value">{{ franceLiveGlobalLiveData.casConfirmes }}</span>
      </mat-card>
      <mat-card class="item">
        <span class="label">Décés</span>
        <br />
        <span class="value">{{ franceLiveGlobalLiveData.deces }}</span>
      </mat-card>
      <mat-card class="item">
        <span class="label">Hospitalisés</span>
        <br />
        <span class="value">{{ franceLiveGlobalLiveData.hospitalises }}</span>
      </mat-card>
      <mat-card class="item">
        <span class="label">En réanimation</span>
        <br />
        <span class="value">{{ franceLiveGlobalLiveData.reanimation }}</span>
      </mat-card>
      <mat-card class="item">
        <span class="label">Guéris</span>
        <br />
        <span class="value">{{ franceLiveGlobalLiveData.gueris }}</span>
      </mat-card>
      <mat-card class="item">
        <span class="label">Nlles Hospitalisations</span>
        <br />

        <span class="value">{{
          franceLiveGlobalLiveData.nouvellesHospitalisations
        }}</span>
      </mat-card>
      <mat-card class="item">
        <span class="label">Nlles Réanimations</span>
        <br />

        <span class="value">{{
          franceLiveGlobalLiveData.nouvellesReanimations
        }}</span>
      </mat-card>
    </div>
  </ng-container>
</div>

<router-outlet></router-outlet>
